@import 'mixins/mixins';
@import 'common/var';

@include b('alert') {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px 20px;
  border: 1px solid #bbb;

  @include e('header') {
    color: red;
  }

  @include e('body') {
    color: green;
  }

  @include e('footer') {
    color: blue;

    &.is-ok {
      color: white;
    }
  }

  @include e('footer--large') {
    color: white;
  }
  @include e('footer.is-ok') {
    color: red;
  }
  @include e('footer:hover') {
    color: red;
  }
}
